.dashboard-layout {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle at center, #1b1b1b 0%, #0f0f0f 70%);
  font-family: "Poppins", sans-serif;
  color: #fff;
  display: flex;
  overflow: hidden;
}

.dashboard-main {
  flex: 1;
  padding: 18px;
  overflow: auto;
}
