.chat-window {
  flex: 1;
  padding: 25px 30px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  background-color: #222;
  color: #eee;
  padding: 10px 15px;
  border-radius: 12px;
  max-width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	overflow-wrap: break-word;
}

.message-container {
	display: flex;
	flex-direction: column;
	max-width: 25%;
}

.message-container.left {
  align-self: flex-start;
}

.message-container span {
	text-size-adjust: auto;
	font-size: 0.85rem;
}

.message-container.left span {
	text-align: left;
	padding-left: 4px;
}

.message-container.right span {
	text-align: right;
	padding-right: 4px;
}

.message-container.right {
  align-self: flex-end;
}

.message.left {
	align-self: flex-start;
}

.message.right {
	align-self: flex-end;
  background-color: #b79b46;
  color: #141414;
}

.day {
	align-self: center;
}

.failed {
	color: #AA2A2A;
}
